body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background-image: url('background.jpg');
}



.container > div {
  background-color: #fff1f1;
  border: 1px solid black;
  
}
.container > p {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 15px;
}
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  background-image: url('containerbackground.jpg');
}
.container {
  display: inline-grid;
  grid-template-columns: 300fr 300fr 300fr 300fr;
}
.container2 > div {
  background-color: #fff1f1;
  border: 1px solid black;
  
}
.container2 > p {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 15px;
   background-image: url('containerbackground.jpg');
}
.container2 {
  display: inline-grid;
  grid-template-columns: 100fr 100fr;
  position: absolute;
  right: 0;
  top: 0;
}
.container2 > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
}



.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;
  width: 220px;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

.display {
padding: 2px 2px;
  font-size: 20px;
  cursor: pointer;
  background-color: #038d26;
  color: #000000;
  transition: background-color 0.3s;
  width: 215px; /* Set a fixed width */
  text-align: left;
}