body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background-image: url('background.jpg');
}



.container > p {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 15px;
}
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  background-image: url('containerbackground.jpg');
}
.container {
  display: inline-grid;
  grid-template-columns: 300fr 300fr 300fr 300fr;
}
.container2 > div {
  background-color: #fff1f1;
  border: 1px solid black;
  
}
.container2 > p {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 15px;
   background-image: url('containerbackground.jpg');
}
.container2 {
  display: inline-grid;
  grid-template-columns: 50fr 50fr 50fr 50fr 50fr;
  position: absolute;
  right: 0;
  top: 0;
}
.container2 > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
}



.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;
  width: 220px;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

.display {
padding: 2px 2px;
  font-size: 20px;
  cursor: pointer;
  background-color: #038d26;
  color: #000000;
  transition: background-color 0.3s;
  width: 200px; /* Set a fixed width */
  text-align: left;
}
 #Hero {
    display: inline-block;
  }
  #Hero img {
    display: block;
    width: 200px;
    margin-bottom: 10px; /* space between image and button */
  }
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
}

#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.dropdown a:hover {background-color: #ddd;}

.dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: block;
}